.identification-button {
    position: fixed;
    top: 20px;
    right: 120px;
    z-index: 1000;
}

/* Ajuster la position du bouton menu pour l'aligner avec les autres */
.menu-button {
    position: fixed;
    top: 20px;
    right: 220px;
    z-index: 1000;
} 