/* Reset */
* {
    margin: 0;
    padding: 0;
    font-family: "Fredericka the Great", serif;
    box-sizing: border-box;
}

:root {
    --backgroud-color: #000000;
    --text-color: #999;
    --title-color: #fff;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Remplir l'écran sans déformer la vidéo */
    z-index: -1; /* Assurez-vous que la vidéo est en arrière-plan */
}
/* Body and page styling */
body {
    animation: bg 1s forwards;
    animation-delay: 2s;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Navigation bar */
header {
    background-color: var(--backgroud-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
}

.bsr1 {
    top: 3px;
    right: 10px;
    font-size: 10px;
    color: #fff;
    z-index: 11;
}

.image-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.bdo {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

#logo-img {
    width: 100%;
    height: 110px;
    background-color: transparent;
}

#logo-img1 {
    width: 25vw;
    height: 140px;
    background-color: transparent;
}

#logo-img2 {
    width: 3vw;
    height: 45px;
    background-color: transparent;
}

nav ul {
    list-style: none;
    font-size: 1.5em;
}

nav ul li {
    display: inline-flex;
    margin: 5px 15px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

/* Menu and logo position */
.logo {
    position: absolute;
    top: 35vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.logo1 {
    position: absolute;
    top: 65vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.logo.open img {
    display: none;
}

.menu {
    display: none;
    width: 100%;
    background-color: var(--backgroud-color);
    border-radius: 10px;
    z-index: 9;
}

.menu.open {
    display: flex;
    justify-content: space-evenly;
}

.menu li {
    list-style: none;
    text-align: center;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.menu li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.logo.open:before {
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    display: none;
    z-index: 11;
}

.menu.open + .close-btn {
    display: block;
    color: #e8c500;
}

/* Animation de base pour l'effet de texte */
.ninja {
    color: white;
    animation: animatext 1s;
    animation-delay: 2s;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

/* Pseudo-éléments before et after pour l'effet de barre */
.ninja::before,
.ninja::after {
    content: attr(data-heading);
    position: absolute;
    left: 0;
    overflow: hidden;
}

/* L'effet de texte avant */
.ninja::before {
    height: 50%;
    color: black;
}

/* L'effet de texte après */
.ninja::after {
    height: 70%;
    color: #fff;
    animation: slash 2s forwards;
    animation-delay: 3s;
}

@keyframes slash {
    0% {
        transform: translateX(0);
    }

    1% {
        transform: translateX(0);
        color: #000;
    }

    2% {
        transform: translateX(0);
        height: 49%;
        color: #fff;
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-3px);
        height: 49%;
    }
}

@keyframes bg {
    0% {
        background-color: #fff;
    }

    1% {
        background-color: #000;
    }

    40% {
        background-color: #fff;
    }
}

@keyframes animatext {
    0% {
        color: #000;
    }

    1% {
        color: #fff;
    }
}

/* Media Query pour les appareils mobiles (largeur max 768px) */
@media only screen and (max-width: 968px) {
    /* Adapter la taille de la vidéo pour qu'elle ne soit pas déformée */
    .video {
        object-fit: cover;  /* Assurez-vous que la vidéo couvre bien l'écran */
        height: 100vh; 
        width: 100%;/* Maintient la hauteur de la vidéo à 100% de la hauteur de la fenêtre */
    }

    /* Ajuster le texte du titre 'ninja' pour qu'il soit plus petit sur mobile */
    .ninja {
        font-size: 3em;
        position: absolute;  /* Taille de texte réduite */
        top: 10vh;  /* Position verticale ajustée */
    }

    /* Ajuster la taille du logo */
    #logo-img1 {
        width: 100vw;  /* Réduire la taille du logo */
        height: auto;  /* Maintenir la proportion */
    }

    /* Ajuster la position du logo en bas */
    .logo1 {
        top: 80vh; /* Positionner plus bas sur l'écran */
    }

    /* Si vous avez des autres éléments qui doivent être ajustés pour les mobiles */
    nav ul li {
        font-size: 1.2em;  /* Ajuster la taille des liens de menu */
    }

    .logo {
        top: 19vh;  /* Positionner plus bas pour que le logo ne soit pas trop haut */
    }
    #logo-img2{
        width: 10vw;
        height: 9vw;
    }
}
